configuration {
  modi: "window,combi,ssh,drun";
	width: 400;
	lines: 10;
	columns: 1;
	font: "SFNS Display 20";
	show-icons: true;
	icon-theme: "Numix-Circle";
	theme: "~/.config/rofi/light.rasi";
	display-drun: "App";
}
